body{
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background-color: #1e272e;
    text-transform: lowercase;
}

#navbar{
    width: 100%;
    text-align: right;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: red;
    z-index: 2;
    opacity: 0.97;
}
li{
    display: inline-block;
    padding: 10px;
    padding-right: 40px;
}
#navbar a{
    text-decoration: none;
    font-size: 30px;
    color: #12CBC4;
    font-size: 15px;
}

#welcome-section{
    padding-top: 30vh;
    height: 70vh;
    color: white;
}
#welcome-section > div{
    width: 60%;
    margin: 0 auto;
}
#welcome-section > div > p{
    font-size: 20px;
}
#welcome-section > div > h1{
    font-size: 80px;
    color: #e67e22;
    margin-top: 10px;
}
.text {
  position: relative;
  display: inline-block;
  font-family: Monaco, Arial, Helvetica, sans-serif;
  color: white;
  line-height: 30px;
}
.text::after {
  content: ".";
  position: absolute;
  background-color: #606060;
  width: 19px;
  height: 43.5px;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}
@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@media screen and (max-width: 700px){
    #welcome-section > div > p{
       min-width: 350px;
    }
    #welcome-section > div > h1{
        font-size: 40px;
       margin-top: -10px;
    }
    #welcome-section > div{
        width: 100%;
        padding-left: 5px;
    }
    #navbar{
       text-align: center;
       color: red;
    }
    .text::after{
        height: 30.5px;
        width: 12px;
    }
}
#skills{
    padding-top: 200px;
    text-align: center;
    height: 100vh;
    background-color: #2c3e50;
}
#skills-icons{
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
#skills-icons > div{
    width: 100px;
    height: 100px;
    box-shadow: 0 2px 2px 0 rgba(99, 110, 114,1.0), 0 1px 5px 0 rgba(99, 110, 114,1.0), 0 3px 1px -2px rgba(99, 110, 114,1.0);
    border-radius: 5%;
    color: white;
    margin: 10px;
    padding: 10px;
}
#skills-icons > div > img{
    opacity: .7;
    transition: .7s;
}
#skills-icons > div > img:hover {
   opacity: 1.0;
    filter: alpha(opacity=100);
}
#skills > h3{
    font-size: 30px;
    color: white;
}

#projects{
    padding-top: 200px;
    height: 90vh;
    background-color: #303952;
}
#projects-1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}
#projects-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
}
#projects-2 > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 15px;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(99, 110, 114,1.0), 0 1px 5px 0 rgba(99, 110, 114,1.0), 0 3px 1px -2px rgba(99, 110, 114,1.0);
    transition: .7s;
    opacity: .6;
}
.p-h2{
    padding: 10px;
}
.img{
    height: 200px;
    width: 200px;
}
#projects-2 > div:hover{
    opacity: 1;
}
@media screen and (max-width: 700px){
    #projects{
        padding-top: 100px;
        height: auto;
    }
    #projects-2{
        flex-direction: column;
    }
}

#repository{
     padding-top:300px;
     height: 90vh;
}
#repository-1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}
#repository-2{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}    
#repository-2 > div{
    width: 190px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(99, 110, 114,1.0), 0 1px 5px 0 rgba(99, 110, 114,1.0), 0 3px 1px -2px rgba(99, 110, 114,1.0);
    border-radius: 5%;
    margin: 10px;
    padding: 15px;
    transition: .7s;
    opacity: .7;
}
#repository-2 > div:hover{
    opacity: 1;
}
@media screen and (max-width: 700px){
    #repository{
        height: auto;
        padding-top: 100px;
    }
    #repository-2 > div{
        flex-direction: column;
        
    }
}

#contact-container {
   height: 100vh;
   background-color: #303952;
}
#contacts-1{
    display: flex;
    padding-top: 200px;
    flex-direction: row;
    color: white;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}
#contacts-2{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
}
#contacts-2 > div{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 40px;
    margin: 10px;
    width: 250px;
    box-shadow: 0 2px 2px 0 rgba(99, 110, 114,1.0), 0 1px 5px 0 rgba(99, 110, 114,1.0), 0 3px 1px -2px rgba(99, 110, 114,1.0);
    transition: .7s;
    opacity: .7;
}
#contacts-2 > div:hover{
    opacity: 1;
}
.c-twitter, .c-linkedin, .c-phone, .c-email{
    padding: 10px;
}
@media screen and (max-width: 700px){
    #contact-container{
        height: auto;
    }
    #contacts-2{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 1000px) and (min-width: 701px){
    #contacts-2 > div{
        transform:scale(0.6);
        margin: -40px;
    }
    #projects-2 > div{
        transform:scale(0.6);
        margin: -60px;
    }
}

footer{
    background-color: rgba(87, 88, 187,1.0);
    color: white;
    height: 20vh;
    text-align: center;
    padding-top: 5vh;
}
#h2-footer{
    margin: auto;
}







